.account-options {
  text-align: right;

  li {
    display: inline-block;
    margin-bottom: 1em;

    a, &:visited {
      color: $olive-green;
      padding: .1em .5em;
      background-color: darken($light-green,5);

      &:hover {
        background-color: darken($light-green,10);
      }
    }
  }

  @include phone {
    text-align: left;
  }
}
