@import url(http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy);

.quote-scroll {
  color: $default-black;
  position: relative;
  z-index: -1;
  border: 3px solid $red;
  border-width: 3px 0;
  background-color: darken($light-green,3%);

  @include not-phone {
    &:before {
      color: $olive-green;
      float: left;
      font-family: "Sorts Mill Goudy", serif;
      font-size: 20em;
      line-height: .8em;
      @include transform(scale(-1, 1));
      opacity: .2;
      content: open-quote;
      position: relative;
      top: .2em;
      left: .3em;
      height: 0;
    }

    &:after {
      color: $olive-green;
      float: right;
      font-family: "Sorts Mill Goudy", serif;
      font-size: 20em;
      line-height: .8em;
      opacity: .2;
      content: close-quote;
      position: relative;
      bottom: 75px;
      right: .4em;
      height: 0;
    }
  }

  div, span {
    display: block;
    max-width: 90%;
    margin: 0 auto;
    font-size: 1.1em;
    padding: .1em 0;
    text-align: center;
    //background: url(../img/close-quote.png) no-repeat;
    //background-position: 110% 110%;

    #quote {
      padding-top: 1em;
      padding-bottom: 1em;

    }

    #quoteauthor {
      display: none;
    }

    &:after {
      font-family: "Sorts Mill Goudy", serif;
    }
  }
}
