.gutter {
  @include outer-container();
}

.page-description {
  margin-top: 1em;
}

.single-product {

  .woocommerce-breadcrumb {
    padding-top: 3em;
  }
}

.products {

  .product {

    a {
      img {
        padding: 5px;
        border: 1px solid lighten($default-black,65%);
        background-color: #fff;
        @include transition(background-color .3s ease-in-out);

        &:hover {
          background-color: darken($light-green,10%);
        }
      }

      .price {
        margin: 0;
      }
    }

    .add_to_cart_button {
      font-weight: normal;
      //font-size: .8em;
      background: none;
      border: none;
      box-shadow: none;
      padding: .2em 0;

      &:before {
        font-family: FontAwesome;
        content: '\f217';
        padding-right: .5em;
      }

      &:hover {
        background: none;
        opacity: .8;
      }
    }

    .added {
      display: none;
    }

    h3 {
      font-family: $sans-serif;
    }

    img {
      display: none;
    }
  }
}

.woo-product {
  font-family: $sans-serif;

  .woocommerce-result-count {
    float: left;

    @include phone {
      float: none;
      position: relative;
      z-index: 1001;
      margin-top: 1em;
    }
  }


}

.woocommerce {
  ul.product_list_widget {
    li {
      padding: .2em .3em;

      &:hover {
        box-shadow: -.2em 0 0 0 darken($light-green,10%);
      }
    }
  }
}

.predictive_results {

  .rs_name {
    color: $red;
  }

  .ac_over {
    background-color: $olive-green;
  }
}
